{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="{{ if not .Site.Params.homepage.showRecent }}h-full{{ end }} text-left" style="margin-bottom: 120px;">
  <div class="flex justify-center mb-3">
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ with $authorImage }}
        {{ $authorImage = $authorImage.Resize "800x800" }}
        <img class="mb-3 h-60 w-60"
             style="width: auto; height: 29vh"
             alt="{{ $.Site.Author.name | default "Author" }}"
             src="{{ $authorImage.RelPermalink }}">
        {{ end }}
    {{ end }}
    <div class="ml-4" style="margin-left: 90px;">
      <h1 class="text-4xl font-extrabold">{{ .Site.Author.name | default .Site.Title }}</h1>
      {{ with .Site.Author.headline }}
        <h2 class="text-lg text-neutral-500 dark:text-neutral-400">{{ . | markdownify | emojify }}</h2>
      {{ end }}
      <div class="mt-1 text-2xl">{{ partialCached "author-links.html" . }}</div>
      <div style="margin-top: 20px" class="text-sm text-neutral-500 dark:text-neutral-400 prose dark:prose-invert">
        {{ .Content | emojify }}
    </div>
    </div>
  </div>
</article>

<section>
  {{ partial "recent-articles/main.html" . }}
</section>
